<%= bootstrap_form_for(:details, url: caregivers_path, html: { method: :post }) do |f| %>

  <div>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.text_field :contact %>
  </div>

  <div>
    <%= f.text_field :usertype, value: 'Caregiver', :readonly => 'readonly' %>
  </div>

  <div>
    <%= f.text_field :gender %>
  </div>

  <div>
    <%= f.collection_radio_buttons :certification , [[true, 'True'] ,[false, 'False']], :first, :last,  {:item_wrapper_class => 'inline'}  %>
  </div>

  <div>
    <%= f.collection_check_boxes(:language_ids, Language.all, :id, :sglang,  {:label => 'Language'}) %>
  </div>

  <div>
    <%= f.collection_check_boxes(:specialty_ids, Specialty.all, :id, :ability, {:label => 'Specialty'}) %>
  </div>

  <div>
    <%= f.text_field :yearsofexperience %>
  </div>

  <div>
    <%= f.text_area :experiencedescription %>
  </div>

  <div>
    <%= f.file_field :photo %>
  </div>

  <div>
    <%= f.submit "Register" %>
  </div>
<% end %>
