<%= bootstrap_form_for(@caregiver) do |f| %>
  <% if @caregiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @caregiver.errors.count, "error") %> prohibited this caregiver from being saved:</h2>

      <ul>
      <% @caregiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.text_field :contact %>
  </div>

  <div>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.text_field :gender %>
  </div>

  <div>
    <%= f.text_field :certification %>
  </div>

  <div>
    <%= f.text_field :yearsofexperience %>
  </div>

  <div>
    <%= f.text_field :experiencedescription %>
  </div>

  <div>
    <%= f.text_field :photo %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
