<h1>Welcome <%=current_user.first_name%></h1>

<div class="container">

<center><h4>Your bookings</h4></center>
<div class="row">
<table class="table table-bordered">
<thead>
  <tr>
    <th class="col-xs-2">Name of caregiver</th>
    <th class="col-xs-2">Family Member</th>
    <th class="col-xs-2">Start date of booking</th>
    <th class="col-xs-2">Status</th>
    <th class="col-xs-2">Functions</th>
    <th class="col-xs-2">Reviews</th>
  </tr>
</thead>

<tbody>
  <tr>
    <% if current_user.usertype === "Caregiver" %>
    <% @transaction.each do |t| %>
    <td><%= User.find_by(id: params[:id]).first_name %> <%= User.find_by(id: params[:id]).last_name %></td>
    <td><%= User.find_by(id: t.user_id).first_name %> <%= User.find_by(id: t.user_id).last_name %></td>
    <td><%= t.start_date %></td>
    <td>
      <ul>
        <li>Pending: <%= t.pending %></li>
        <li>Approved: <%= t.approved %></li>
      </ul>
    </td>
    <td><%= link_to 'Edit', edit_caregiver_transaction_path(current_user.id, t.id) %></td>
    <td>  <% if t.approved == true %>
      <%=link_to 'Write review', new_caregiver_review_path(t.caregiver_id)%>
    <% else %>
        Unavailable
    <% end %>
    </td>

  </tr>
    <% end %>
</tbody>
</table>

<% end %>
</div>

<br>
<br>
<center><h4>Your review</h4></center>
<div class="row">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-1">Reviewed on</th>
      <th class="col-xs-1">Review date</th>
      <th class="col-xs-2">Rating</th>
      <th class="col-xs-4">Comment</th>
      <th class="col-xs-2">Functions</th>
    </tr>
  </thead>

  <tbody>

    <% @review.each do |review| %>
      <tr>
          <% @test = Transaction.find_by(id: review.transaction_id).user_id %>
        <td><%= User.find_by(id: @test).first_name %> <%= User.find_by(id: @test).last_name %></td>
        <td><%= review.created_at %></td>
        <td><div class = "star-rating" data-score= <%= review.rating %></div></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Edit', edit_caregiver_review_path(review.user_id,review.id) %>
      <%= link_to 'Destroy', caregiver_review_path(review.user_id,review.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
<br>

<center><h4>Your Profile</h4></center>
  <div class="row">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-2">Name</th>
      <th class="col-xs-1">Gender</th>
      <th class="col-xs-1">Years of experience</th>
      <th class="col-xs-3">Expertise</th>
      <th class="col-xs-4">Experience description</th>
      <th class="col-xs-3">Languages Spoken</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if current_user.usertype === "Caregiver" %>
      <td><%= User.find_by(id: params[:id]).first_name %></td>
      <td><%= @caregiver.gender %></td>
      <td><%= @caregiver.yearsofexperience %></td>
      <td>
        <ul><% @caregiver.specialties.each do |x| %>
          <li><%=x.ability%></li>
          <% end %>
        </ul>
      </td>
      <td><%= @caregiver.experiencedescription %></td>
      <td>
        <ul><% @caregiver.languages.each do |x| %>
          <li><%= x.sglang %></li>
          <% end %>
        </ul>
      </td>

      <% elsif current_user.usertype === "Fammember" %>
      <%= User.find_by(id: Caregiver.find_by(id: params[:id]).user_id).email %>
      <td><%= User.find_by(id: Caregiver.find_by(id: params[:id]).user_id).first_name %></td>
      <td><%= @caregiver.gender %></td>
      <td><%= @caregiver.yearsofexperience %></td>
      <td><%= @caregiver.specialties %></td>
      <td><%= @caregiver.experiencedescription %></td>
      <td><%= @caregiver.languages %></td>
      <td><%= link_to "Book Now", new_caregiver_transaction_path(@caregiver) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

</div>


</div>


<%= link_to 'New Review', new_caregiver_review_path(@user) %>


<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
</script>
