<h1>Welcome to caregiver profile</h1>
<table>
  <thead>
    <tr>
      <th class="col-xs-2">Name</th>
      <th class="col-xs-2">Gender</th>
      <th class="col-xs-2">Years of experience</th>
      <th class="col-xs-2">Expertise</th>
      <th class="col-xs-2">Experience description</th>
      <th class="col-xs-2">Languages Spoken</th>
      <th class="col-xs-2">Book now</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if current_user.usertype === "Caregiver" %>
      <td><%= User.find_by(id: params[:id]).first_name %></td>
      <td><%= @caregiver.gender %></td>
      <td><%= @caregiver.yearsofexperience %></td>
      <td><%= @caregiver.specialties %></td>
      <td><%= @caregiver.experiencedescription %></td>
      <td><%= @caregiver.languages %></td>
      <td><%= link_to "Book Now", new_caregiver_transaction_path(@caregiver) %></td>
      <% elsif current_user.usertype === "Fammember" %>
      <td><%= User.find_by(id: Caregiver.find_by(id: params[:id]).user_id).first_name %></td>
      <td><%= @caregiver.gender %></td>
      <td><%= @caregiver.yearsofexperience %></td>
      <td><%= @caregiver.specialties %></td>
      <td><%= @caregiver.experiencedescription %></td>
      <td><%= @caregiver.languages %></td>
      <td><%= link_to "Book Now", new_caregiver_transaction_path(@caregiver) %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Rating</th>
      <th>User</th>
      <th>transaction_id</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @review.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td><div class = "star-rating" data-score= <%= review.rating %></div></td>
        <td><%= review.user_id %></td>
        <td><%= review.transaction_id %></td>
        <td><%= link_to 'Edit', edit_caregiver_review_path(review.user_id,review.id) %></td>
        <td><%= link_to 'Destroy', caregiver_review_path(review.user_id,review.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<%= link_to 'New Review', new_caregiver_review_path(@user) %>

<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
</script>
