<%= bootstrap_form_for(@fammember) do |f| %>
  <% if @fammember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @fammember.errors.count, "error") %> prohibited this fammember from being saved:</h2>

      <ul>
      <%  @fammember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.text_field :contact %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
