<%= bootstrap_form_for(:fammember, url: fammembers_path, html: { method: :post }) do |f| %>

  <div>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.text_field :contact %>
  </div>

  <div>
    <%= f.text_field :usertype, value: 'Fammember', :readonly => 'readonly' %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
