<h1>Welcome back <%= @user.first_name %></h1>

<li><%= link_to "Search", new_search_path %></li>
<li><%= link_to "New patient", new_fammember_patient_path(@user) %></li>

<br>
<br>
<center><h4>List of Patients</h4></center>
<div class="container">

<div class="row">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Gender</th>
      <th>Frequency</th>
      <th>Condition Description</th>
    </tr>
  </thead>

  <tbody>
    <% @patient.each do |patient| %>
      <tr>
        <td class="col-xs-2"><%= patient.first_name %></td>
        <td class="col-xs-2"><%= patient.last_name %></td>
        <td class="col-xs-2"><%= patient.address %></td>
        <td class="col-xs-2"><%= patient.gender %></td>
        <td class="col-xs-2"><%= patient.frequency %></td>
        <td class="col-xs-2"><%= patient.condition_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
<center><h4>Your bookings</h4></center>
<div class="row">
<table class="table table-bordered">
<thead>
  <tr>
    <th class="col-xs-2">Name of caregiver</th>
    <th class="col-xs-2">For patient</th>
    <th class="col-xs-2">Start date of booking</th>
    <th class="col-xs-2">Status</th>
    <th class="col-xs-2">Functions</th>
    <th class="col-xs-2">Reviews</th>
  </tr>
</thead>

<tbody>
  <tr>
    <%= @transaction.each do |t| %>
    <td><%= User.find_by(id: @caregivers).first_name %> <%= User.find_by(id: @caregivers).last_name %></td>
    <td><%= @patient.inspect %></td>
    <td><%= t.start_date %></td>
    <td>
      <ul>
        <li>Pending: <%= t.pending %></li>
        <li>Approved: <%= t.approved %></li>
      </ul>
    </td>
    <td><%= link_to 'Edit', edit_transaction_path(t.id) %></td>
    <td>  <% if t.approved == true %>
      <%=link_to 'Write review', new_review_path%>
    <% else %>
        Unavailable
    <% end %>

    </td>

  </tr>
  <% end %>
</tbody>
</table>

</div>


<br>
<br>
<center><h4>Review</h4></center>
<div class="row">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-1">Reviewed on</th>
      <th class="col-xs-1">Review date</th>
      <th class="col-xs-2">Rating</th>
      <th class="col-xs-4">Comment</th>
      <th class="col-xs-2">Functions</th>
    </tr>
  </thead>

  <tbody>


    <% @review.each do |review| %>
      <tr>
        <td><%= @caregivers_name %></td>
        <td><%= review.created_at %></td>
        <td><div class = "star-rating" data-score= <%= review.rating %></div></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Edit', edit_fammember_review_path(review.user_id,review.id) %>
      <%= link_to 'Destroy', fammember_review_path(review.user_id,review.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<%= link_to 'New Review', new_fammember_review_path(@user) %>


<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
</script>
