<h1>Welcome back <%= @user.first_name %></h1>

<li><%= link_to "Search", new_search_path %></li>
<li><%= link_to "All transactions", transactions_path %></li>
<li><%= link_to "New patient", new_fammember_patient_path(@user) %></li>


<h1>List of Patients</h1>
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>first_name</th>
      <th>last_name</th>
      <th>address</th>
      <th>gender</th>
      <th>frequency</th>
      <th>condition_description</th>

    </tr>
  </thead>

  <tbody>
    <% @patient.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.address %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.frequency %></td>
        <td><%= patient.condition_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<h5>Review</h5>
<div class="row">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-1">name</th>
      <th class="col-xs-2">Rating</th>
      <th class="col-xs-4">Comment</th>
      <th colspan="3">Functions</th>
    </tr>
  </thead>

  <tbody>


    <% @review.each do |review| %>
      <tr>
        <td><%= @caregivers_name %></td>
        <td><div class = "star-rating" data-score= <%= review.rating %></div></td>
        <td><%= review.comment %></td>
        <td><%= link_to 'Edit', edit_fammember_review_path(review.user_id,review.id) %>
      <%= link_to 'Destroy', fammember_review_path(review.user_id,review.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Review', new_fammember_review_path(@user) %>


<script>
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    }
  });
</script>
