<h1>Custom Search</h1>
<%= form_for @search, html: { class: "pure-form" } do |s| %>

<div class="field">
  <%= s.label :specialties %>
  <%= s.select :specialties, options_for_select(@specialty), :include_blank => true %>
</div>

<div class="field">
  <%= s.label :language %>
  <%= s.select :language, options_for_select(@lang), :include_blank => true %>
</div>


<div class="field">
  <%= s.label :yearsofexperience %> - <%= s.text_field :yearsofexperience, size: 10 %>
</div>

<div class="field">
  <%= s.label :gender %>
  <%= s.select :gender, options_for_select(@genders), :include_blank => true %>
</div>

<div class="actions">
<%= s.submit "Search", class: "pure-button pure-button-primary" %>
</div>

<% end %>

<p><%= link_to 'Back', root_path %></p>
