<h1>Search Results</h1>

  <% if @search.search_caregiver_languages.empty? %>
    <p>No records found</p>
  <% else %>
    <% @search.search_caregivers_languages.each do |c| %>
    <div class="div">
      Language: <%= c.language %><br>
      Id: <%= c.id %><br>
      Specialties: <%= c.specialties %><br>
      Minimum years of experience: <%= c.yearsofexperience %><br>
      Gender: <%= c.gender %><br>
      <%= link_to "Book now", caregiver_path(c.id) %>
    </div>
    <% end %>
  <% end %>
