<h1>Search Results</h1>
    <% @search.search_caregivers_attributes.each do |c| %>
      Minimum years of experience: <%= c.yearsofexperience %><br>
      Gender: <%= c.gender %><br>
      ID: <%= c.id %><br>
      <% @test = Caregiver.find_by(id: c.id).user_id %>
      Name : <%= User.find_by(id: @test).first_name %> <%= User.find_by(id: @test).last_name %>
      <%= link_to "Book now", new_caregiver_transaction_path(c.id) %>
    <% end %>
    </div>
