<h1>Search Results</h1>
  

    <% @search.search_caregivers_languages.each do |c| %>
    <div class="div">
      Language: <%= c.sglang %><br>
    </div>
    <% end %>
    <% @search.search_caregivers_specialties.each do |c| %>
    <div class="div">
      Specialties: <%= c.ability %><br>
    </div>
    <% end %>
    <% @search.search_caregivers_attributes.each do |c| %>
    <div class="div">
      Minimum years of experience: <%= c.yearsofexperience %><br>
      Gender: <%= c.gender %><br>
      ID: <%= c.id %><br>
      <%= link_to "Book now", new_caregiver_transaction_path(c.id) %>
    <% end %>
    </div>
