

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>

      <% if !current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Start using", new_fammember_path %></li>
          <li><%= link_to "Become our caregiver", caregivers_path %></li>
          <li><%= link_to "Search", new_search_path %></li>
          <li><%= link_to "Review", reviews_path %></li>
          <li><%= link_to "Sign In", login_path %></li>
        </ul>

      <% elsif current_user.usertype == 'Caregiver'%>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Information", url: '#' %></li>
          <li><%= link_to "Profile", caregiver_path(current_user) %></li>
          <li><%= link_to "Review", reviews_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>

      <% elsif current_user.usertype == 'Fammember'%>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Our caregivers", caregivers_path %></li>
          <li><%= link_to "Profile", fammember_path(current_user) %></li>
          <li><%= link_to "Review", reviews_path %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>

    <% end %>

    </nav>
  </div>
</header>
